<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yanse fantasia</title>
   

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
    <link rel="icon" href="./yanselogo.png">
    <link rel="stylesheet" type="text/css" href="static/css/index.css"/>
     
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    
     
</head>
<body>
    <header class="header">

        
            <div class = "yanselogo">
                <a href="#">
                    <img  src="static/images/yanselogo.png" alt="Yanse" >
                </a>
            </div>
        <nav>
            <ul class="nav-link" >   
                <li><a class = "nav-link-li" href="#">Inicio</a></li>
                <li><a class = "nav-link-li" href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header> 
    <div class="banner">
        <span class="word">We</span>
        <span class="word">Love</span>
        <span class="word">Color</span>

    </div>

    <main class="main">

        <section class="detailed-description">

        <h1 >Fantasía en piel y textil</h1>

        <p >Mediante el uso de diversas técnicas creamos diseños únicos tanto en piel como en cualquier tipo de tejido.
            Animal print, metalizado, manchados, geométricos y cualquier acabado que puedas imaginar. 
        </p>
                                
                                
                                                                            
                            
    </section>
        <div class="flex-container">
            <div class="flex-item">
                <p>Sobre todo tipo de piel</p>
                <img src="static/images/leather-icon.svg" alt="SVG 1">
            </div>
            <div class="flex-item">
                <p>Sobre cualquier tejido</p>
                <img src="static/images/fabric-material.svg" alt="SVG 2">
            </div>
            <div class="flex-item">
                <p>Respetando el planeta</p>
                <img src="static/images/sustainable-icon.svg" alt="SVG 3">
            </div>
        </div>
        
        

            <section class="description">
                <h1>Sobre nosotros</h1> 
                <p>
                    Con más de 30 años de experiencia en el sector, 
                    en Yanse Fantasía nos especializamos en la creación de 
                    piezas únicas en piel y textil, fusionando tradición y creatividad. 
                    Nuestro enfoque combina técnicas artesanales como la serigrafía, 
                    el manchado a mano, y otros métodos innovadores para producir 
                    diseños exclusivos. Cada pieza refleja nuestro compromiso 
                    con la calidad y el detalle, llevando la fantasía y 
                    la personalización al mundo de la moda artesanal. 
                    Nos apasiona convertir cada idea en realidad, 
                    ofreciendo productos que destacan por su originalidad y elegancia. 
                </p>
    
            </section>       
                                                                
            <section class="colection">
                <h1>Colección</h1>
                <div class="card-container">
                <ul id="cards">
                    <li class="card">
                        <div class="card description">
                            <h2>Estampación en piel</h2>
                            <p>Animal print, geométricos, flores... y todos los diseños que puedas necesitar.</p>
                        </div>
                        <div class="card image">
                            <img src="static/images/animal-print-print.jpg" alt="Animal print">
                        </div>
                    </li>
                    <li class="card">
                        <div class="card description">
                            <h2>Tamponado</h2>
                            <p>Desde ligeros sombreados hasta diseños con textura. 
                                Dale un toque único y exclusivo a tu diseño, tu imaginación 
                                es el límite.
                            </p>
                        </div>
                        <div class="card image">
                            <img src="static/images/tamponado.jpg" alt="Image description">
                        </div>
                    </li>
                    <li class="card">
                        <div class="card description">
                            <h2>Teñido de pelo natural</h2>
                            <p>Teñimos cualquier diseño sobre pony, cavallino y cualquier otro pelo
                                natural.
                            </p>
                        </div>
                        <div class="card image">
                            <img src="static/images/pony.jpg" alt="Image description">
                        </div>
                    </li>
                    <li class="card">
                        <div class="card description">
                            <h2>Acabados foil</h2>
                            <p>Miles de diseños para elegir el que más se ajusta a tu proyecto, pudiendo combinarse
                                con las demás técnicas para personalizar.
                            </p>
                        </div>
                        <div class="card image">
                            <img src="static/images/acabados-foil.jpg" alt="Image description">
                        </div>
                    </li>
                    <li class="card">
                        <div class="card description">
                            <h2>Flock</h2>
                            <p>Dale un toque terciopelo a tu diseño. Con toda la gama de colores.
                            </p>
                        </div>
                        <div class="card image">
                            <img src="static/images/acabados-foil.jpg" alt="Image description">
                        </div>
                    </li>
                </ul>
                </div>
            </section>
               



        

    </main>
    <footer class="footer">
        <div class="footer-content">
            <div class = "footer-logo">
                <a href="#">
                    <img  src="static/images/yanselogo.png" alt="Yanse" >
                </a>
            </div>
           

            <section class="footer-section-contact">
                <h2>Contáctanos</h2>
                <img src="static/images/phone.svg" alt="Phone">
                <p>Email: yansefantasia@gmail.com</p>
                <p>Phone: +34 636976328</p>
            </section>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2019-2025. All rights reserved.</p>
        </div>
    </footer>
    
    <script>  
        document.addEventListener('DOMContentLoaded', function() {
        const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
         if (entry.isIntersecting) {
            console.log('Elemento visible en el viewport');
            entry.target.classList.add('visible');
            //observer.unobserve(entry.target); // Deja de observar el elemento
        }
             });
        }, { threshold: 0.35 });
  
        const elementos = document.querySelectorAll('.flex-item');
        elementos.forEach(elemento => {
        observer.observe(elemento); // Observar cada elemento individualmente
      });
    });

        
    document.addEventListener('DOMContentLoaded', function() {
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('visible'); // Agregar clase visible
                observer.unobserve(entry.target); // Dejar de observar el elemento
            }
        });
    }, { threshold: 0.3 }); // Se activa cuando el 30% del elemento está visible

    const cards = document.querySelectorAll('.card');
    cards.forEach(card => observer.observe(card)); // Observar cada tarjeta
});

    </script> 
</body>
</html>